
.title {
  color: #000;
  font-size: 14px;
  margin-bottom: 6px;
}


.container {
  display: flex;
  flex-direction: column;
}


.inputComponent {
    border: 1px solid #e1e0e2;
    padding: 8px 12px;
    & > input {
      border: none;
      font-weight: 700;
      color: #000;
    }
}