.container {
  height: 100%;
  padding: 50px;
  background-color: #00d1d2;
  flex: 1;
  display: flex;
  flex-direction: column;

  & > div:first-child {
    width: 624px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.slideBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}

.sliderCaption {
  border-radius: 36px;
  border: 4px solid #fffdfb;
  background: #fffdfb;
  text-align: center;
  margin-bottom: 24px;
  & > div:first-child {
    height: 60px;
    background-color: #00d1d2;
    border-radius: 36px 36px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-left: 24px;
  }

  & > div:nth-child(2) {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.circlePoint {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  border: 2px solid #fffdfb;
  &__active {
    width: 24px;
    height: 24px;
    background: #fffdfb;
  }
}

.caption__wrong {
  background-color: #34303d !important;
}

.lookRightAnswer {
  margin-top: 32px;
  color: #fffdfb;
  text-align: center;
  font-size: 32px;
  width: 100%;
}

.fadeIn {
  /* animation styles */
  animation: myAnimation 1.5s;
}

/* Keyframes animation */
@keyframes myAnimation {
  0% {
    /* initial state */
    opacity: 0;
  }
  100% {
    /* final state */
    opacity: 1;
  }
}

.p_x_12 {
  padding: 0 12px;
}

.startModal {
  opacity: 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  & > button {
    color: #fffdfb;
    font-size: 40px;
    font-weight: 700;
  }
  & > button:nth-child(2) {
    padding: 18px 40px;
    border: 4px solid #FFFDFB;
    border-radius: 999px;
  }
}

.button {
    border-radius: 1000px;
    border: 4px solid #fffdfb;
    background: #00d1d2;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    padding: 20px 24px;
    color: #fffdfb;
    margin-top: 16px;
}