.warning {
  display: flex;
  border-radius: 999px;
  margin-top: 36px;
  height: 71px;
  display: flex;
  padding: 0 24px;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  gap: 16px;
  & > div:first-child {
    width: 40px;
    height: 40px;
    line-height: 30px;
  }
  & > p {
    word-wrap: normal;
    font-size: 16px;
    color: rgba(184, 183, 187, 1);
    text-transform: uppercase;
  }
}