.list {
  color: #34303d;
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
  & > li {
    position: relative;
  }
  & > li::before {
    position: relative;
    top: -3px;
    content: '';
    display: inline-block;
    background-color: #34303d;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 999px;
  }
}
